/bzlib
/cairo
/contrib
/croco
/dcraw
/exr
/externals
/ffi
/flif
/glib
/ImageMagick
/jbig
/jp2
/jpeg
/lcms
/librsvg
/libxml
/lqr
/openjpeg
/pango
/pixman
/png
/tiff
/ttf
/VisualMagick
/webp
/win2k
/zlib